{project_plugins, [rebar3_format, rebar3_lint]}.

{erl_opts, [debug_info]}.

{deps, [mysql, poolboy, elli, jsx, hackney]}.

{profiles,
 [{prod, [{relx, [{dev_mode, false}, {include_erts, true}, {include_src, false}]}]}]}.

{ct_opts, [{sys_config, ["test/test.config"]}]}.

{cover_enabled, true}.

{cover_export_enabled, true}.

{alias, [{check, [format, dialyzer, lint, eunit, ct]}]}.

{relx,
 [{release, {myerl, "0.1.0"}, [myerl, sasl, poolboy, mysql, jsx, elli]},
  {vm_args_src, "config/vm.args.src"},
  {sys_config_src, "config/sys.config.src"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}]}.

{format, [{files, ["*.config", "src/*.erl", "test/*.erl"]}]}.

{shell, [{apps, [myerl]}]}.
