{plugins, [rebar_alias, rebar3_format, rebar3_lint]}.

{format, [{files, ["src/*.erl", "test/*.erl"]}]}.

{erl_opts, [debug_info]}.

{deps, [mysql, poolboy, elli, jsx, hackney]}.

{shell, [{apps, [myerl]}]}.

{ct_opts, [{sys_config, ["test/test.config"]}]}.

{alias, [{check, [format, dialyzer, lint, eunit, ct]}]}.

{relx, [{release, {myerl, "0.1.0"},
 [myerl, sasl, poolboy, mysql, jsx, elli]},
 {vm_args_src, "config/vm.args.src"},
 {sys_config_src, "config/sys.config.src"},
 {dev_mode, true},
 {include_erts, false},
 {extended_start_script, true}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
 {include_erts, true},
 {include_src, false}]}]}]}.
