%% Plugins
{project_plugins, [rebar3_format, rebar3_lint]}.

%% Compiler
{erl_opts, [debug_info]}.

%% Dependencies
{deps, [mysql, poolboy, elli, jsx, hackney]}.

%% Profiles
{profiles,
 [{prod, [{relx, [{dev_mode, false}, {include_erts, true}, {include_src, false}]}]}]}.

%% Common Test
{ct_opts, [{sys_config, ["test/test.config"]}]}.

%% Cover
{cover_enabled, true}.

{cover_export_enabled, true}.

%% Aliases
{alias, [{check, [format, dialyzer, lint, eunit, ct]}]}.

%% Releases
{relx,
 [{release, {myerl, "0.1.0"}, [myerl, sasl, poolboy, mysql, jsx, elli]},
  {vm_args_src, "config/vm.args.src"},
  {sys_config_src, "config/sys.config.src"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}]}.

%% Formatters
{format, [{files, ["*.config", "src/*.erl", "test/*.erl"]}]}.

%% Shell
{shell, [{apps, [myerl]}]}.
